<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  <title>스프링 부트 웹서비스</title>
  <meta http-equiv="contetn-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    .field-error {
      border-color: #dc3545;
      color: #dc3545;
    }
  </style>
</head>

<th:block th:fragment="script">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="/js/app/index.js"></script>
</th:block>
<body>
