<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/fragment :: head">
</head>
<body>
<body>
<div class="m-5">
    <header th:replace="layout/fragment :: header"></header>
    <div th:if="${isSaved}" class="alert alert-primary" role="alert">
        글이 작성되었습니다.
    </div>
    <div th:if="${isDeleted}" class="alert alert-warning" role="alert">
        글이 삭제되었습니다.
    </div>
    <div class="float-end">
        <button type="button" class="btn btn-danger" th:onclick="|location.href='@{/cat}'|">예지의 놀이터</button>
        <button type="button" class="btn btn-primary" th:onclick="|location.href='@{/posts/save}'|">작성</button>
    </div>

    <!-- 목록 출력 영역 -->
    <table class="table table-hover ">
        <thead class="thead-strong">
            <tr>
                <th>게시글번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>최종수정일</th>
            </tr>
        </thead>
        <tbody id="tbody" th:each="post : ${posts}">
            <tr th:object="${post}">
                <td th:text="*{id}">ID</td>
                <td><a th:href="@{/posts/{id}(id=*{id})}" th:text="*{title}">제목</a></td>
                <td th:text="*{author}">작성자</td>
                <td th:text="${#temporals.format(post.modifiedDate, 'yyyy년 MM월 dd일 HH시 mm분 ss초')}">최종수정일</td>
            </tr>
        </tbody>
    </table>
</div>
<th:block th:replace="layout/fragment :: script" />
</body>
</html>