<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/fragment :: head">
</head>
<body>
<div class="m-5">
    <header th:replace="layout/fragment :: header"></header>
    <div>
        <form th:action th:object="${post}" method="post" enctype="multipart/form-data">

            <label for="category" class="form-label">카테고리</label>
            <select id="category" th:field="*{category}" class="form-select">
                <option th:each="status : ${T(com.gyuyeon.springbook.domain.post.Category).values()}"
                        th:value="${status}"
                        th:text="${status}">
                </option>
            </select>

            <div class="mb-3">
                <label for="title" class="form-label">제목</label>
                <input type="text" id="title" class="form-control" th:field="*{title}"
                       th:errorclass="field-error" placeholder="제목을 입력하세요">
                <div class="field-error" th:errors="*{title}">제목 오류</div>
            </div>

            <div class="mb-3">
                <label for="author" class="form-label">작성자</label>
                <input type="text" id="author" class="form-control" th:field="*{author}" readonly>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="anonymousAuthor" onclick="check();">
                    <label class="form-check-label" for="anonymousAuthor">익명으로 쓰기</label>
                </div>
                <div class="field-error" th:errors="*{author}">작성자 오류</div>
            </div>

            <div class="mb-3">
                <label for="content" class="form-label">내용</label>
                <textarea type="text" id="content" class="form-control" th:field="*{content}"
                          th:errorclass="field-error" placeholder="내용을 입력하세요" rows="5"></textarea>
                <div class="field-error" th:errors="*{content}">내용 오류</div>

            </div>

            <div class="mb-3">
                <input class="form-control" type="file" id="formFileMultiple" th:field="*{imageFiles}" multiple>
            </div>


            <hr class="my-4">
            <a href="/posts" role="button" class="btn btn-secondary">취소</a>
            <button type="submit" class="btn btn-primary">수정</button>

        </form>
    </div>
</div>

<script th:inline="javascript">
    function check() {
        const input = document.getElementById("author");
        const checkBox = document.getElementById('anonymousAuthor');
        if (checkBox.checked) {
            input.readOnly = false;
            input.value = "";
        } else {
            input.readOnly = true;
            input.value = [[${post.author}]];
        }
    }
</script>

<th:block th:replace="layout/fragment :: script" />
</body>
</html>