<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/fragment :: head">
</head>
<body>
<div class="m-5">
    <header th:replace="layout/fragment :: header"></header>
    <div>
        <form th:action th:object="${post}" method="post" enctype="multipart/form-data">

            <label for="category" class="form-label">카테고리</label>
            <select id="category" th:field="*{category}" class="form-select">
                <option th:each="status : ${T(com.gyuyeon.springbook.domain.post.Category).values()}"
                        th:value="${status}"
                        th:text="${status}">
                </option>
            </select>

            <div class="mb-3">
                <label for="title" class="form-label">제목</label>
                <input type="text" id="title" class="form-control" th:field="*{title}"
                       th:errorclass="field-error" placeholder="제목을 입력하세요">
                <div class="field-error" th:errors="*{title}">제목 오류</div>
            </div>

            <div class="mb-3">
                <label for="author" class="form-label">작성자</label>
                <input type="text" id="author" class="form-control" th:field="*{author}" readonly>
            </div>

            <div class="mb-3">
                <label for="content" class="form-label">내용</label>
                <textarea type="text" id="content" class="form-control" th:field="*{content}"
                          th:errorclass="field-error" placeholder="내용을 입력하세요" rows="5"></textarea>
                <div class="field-error" th:errors="*{content}">내용 오류</div>

            </div>

            <div th:each="imageFile : ${post.imageFiles}">
                <img th:src="|/images/${imageFile.storeFileName}|" style="max-width: 600px; height: auto;"/>
                <button type="button" class="btn-close" aria-label="Close" th:id="|imageDeleteBtn-${imageFile.id}|"></button>
                <br>
            </div>
            <br>
            <div class="mb-3">
                <input class="form-control" type="file" id="formFileMultiple" th:field="*{imageFiles}" multiple>
            </div>

            <hr class="my-4">
            <button type="button" class="btn btn-secondary"
                    th:onclick="|location.href='@{/posts/{id}(id=${post.id})}'|">취소
            </button>
            <button type="submit" class="btn btn-primary">수정</button>

        </form>
    </div>
</div>

<th:block th:replace="layout/fragment :: script" />
<script th:inline="javascript">
    $(".btn-close").click(function() {
        const postId = [[${post.id}]];
        const imageId = $(this).attr('id').split("-")[1];
        $.ajax({
            type : "DELETE",
            url : "/images/" + imageId,
            success : function() {
                window.location.href = '/posts/update/' + postId;
            },
            error : function() {
                alert("이미지 파일 삭제에 실패하였습니다.");
            }
        });
    });
</script>
</body>
</html>