<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/fragment :: head">
</head>
<body>
<div class="m-5">
    <header th:replace="layout/fragment :: header"></header>
    <div>
        <th:block th:object="${post}">
            <div class="header">
                <span class="h2" th:text="*{title}"></span>
                <span th:text="*{author}"></span>
                <div class="float-end">
                    <button type="button" class="btn btn-secondary btn-sm"
                            th:onclick="|location.href='@{/posts}'|">목록
                    </button>
                    <button type="button" class="btn btn-primary btn-sm"
                            th:onclick="|location.href='@{/posts/update/{id}(id=${post.id})}'|">수정
                    </button>
                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal">
                        삭제
                    </button>
                </div>
            </div>
            <div class="w-100 mt-2">
                <div th:each="line : ${postContent}">
                    <p th:text="${line}"></p>
                </div>
            </div>
        </th:block>
    </div>

    <div th:each="imageFile : ${post.imageFiles}">
        <img th:src="|/images/${imageFile}|" style="max-width: 600px; height: auto;"/>
        <br>
    </div>

    <br>
    <p th:text="|댓글 (${comments.size()})|"></p>
    <hr>
    <div>
        <div th:each="comment : ${comments}">
            <div th:object="${comment}">
                <small th:text="*{writer}"></small>
                <div class="vr"></div>
                <span th:text="*{content}"></span>
                <button type="button" class="btn-close float-end" aria-label="Close" th:id="*{id}"></button>
            </div>
            <hr>
        </div>
        <div class="input-group mb-3">
            <input type="text" id="commentContent" class="form-control" placeholder="댓글을 입력하세요.">
            <button type="button" class="btn btn-outline-secondary" id="button-comment">작성</button>
        </div>
    </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">경고</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    정말로 글을 삭제하시겠습니까?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary"
                            th:onclick="|location.href='@{/posts/delete/{id}(id=${post.id})}'|">삭제</button>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="layout/fragment :: script"/>

<script th:inline="javascript">
    $("#button-comment").click(function() {
        const postId = [[${post.id}]];
        const jsonData = JSON.stringify({
            content: $("#commentContent").val(),
            writer: [[${commentForm.writer}]]
        });
        $.ajax({
            type : "POST",
            url : "/posts/" + postId + "/comment",
            dataType : "json",
            contentType : "application/json; charset=utf-8",
            data : jsonData,
            success : function() {
                window.location.href = '/posts/' + postId;
            },
            error : function() {
                alert("댓글 등록에 실패하였습니다.");
            }
        });
    });

    // $(".btn-close").click(function() {
    //     const commentId = [[${post.id}]];
    //     $.ajax({
    //         type : "DELETE",
    //         url : "/post/comment/" + commentId,
    //         success : function() {
    //             window.location.href = '/posts/' + postId;
    //         },
    //         error : function() {
    //             alert("댓글 삭제에 실패하였습니다.");
    //         }
    //     });
    // });
</script>
</body>
</html>