<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/fragment :: head">
<body>
<div class="m-5">
  <header th:replace="layout/fragment :: header"></header>
  <div>
    <div class="row">
      <div class="col">
        <button class="w-100 btn btn-secondary btn-lg" type="button"
                th:onclick="|location.href='@{/users/add}'|">
          회원 가입
        </button>
      </div>
      <div class="col">
        <button class="w-100 btn btn-dark btn-lg" th:onclick="|location.href='@{/login}'|" type="button">
          로그인
        </button>
      </div>
    </div>
    <hr class="my-4">
  </div>
</div>
<th:block th:replace="layout/fragment :: script" />
</body>
</html>